{{#bundle-select-group as |bundle|}}
  <p>
    <span data-test-select-count="true">{{bundle.selected.length}}</span>
    items selected.
  </p>

  <p>
    <button
      data-test-toggle-hidden-options="true"
      {{action "toggleHiddenOptions"}}
    >
      Toggle Hidden Options
    </button>

    <button
      data-test-select-all-action="true"
      {{action bundle.selectAllAction}}
    >
      All
    </button>

    <button
      data-test-select-none-action="true"
      {{action bundle.selectNoneAction}}
    >
      None
    </button>

    <button
      disabled={{bundle.isEmpty}}
      data-test-bundle-action="true"
      {{action "levelUp" bundle.selected}}
    >
      Bundle Action: Level Up! (Bundle)
    </button>
  </p>

  <form>
    <fieldset class="fieldset">
      <legend>Create Super Hero</legend>
      {{input value=(mut newModel.name) placeholder="Name"}}
      {{input value=(mut newModel.level) placeholder="Level"}}
      <button {{action "create"}}>Create Option</button>
    </fieldset>
  </form>

  {{table-list models=models bundle=bundle}}

  {{#if showHiddenOptions}}
    {{table-list models=otherModels bundle=bundle}}
  {{/if}}

{{/bundle-select-group}}
