{{#bundle-select-group as |bundle|}}
  <p>{{bundle.selected.length}} avengers selected.</p>

  <p>
    <button {{action bundle.selectAllAction}}>All</button>
    <button {{action bundle.clearAction}}>None</button>
  </p>

  <ul>
  {{#each models as |model|}}
    <li>
      {{#bundle-select-option option=model tagName="label" bundle=bundle as |selected toggle|}}
        <input type="checkbox" checked={{selected}} onclick={{action toggle}} />
        <span>{{model.name}}</span>,
        <span>level {{model.level}}</span>
      {{/bundle-select-option}}
    </li>
  {{/each}}
  </ul>

  <p><button {{action "levelUp" bundle.selected}} disabled={{bundle.isEmpty}}> Level Up! </button></p>
{{/bundle-select-group}}
