{{#bundle-select-group as |bundle|}}
  <p>{{bundle.selected.length}} avengers selected.</p>

  <p>
    <button {{action bundle.selectAllAction}}>All</button>
    <button {{action bundle.selectNoneAction}}>None</button>
    <button {{action "levelUp" bundle.selected}} disabled={{bundle.isEmpty}}> Level Up! </button>
  </p>

  <table class="table">
  {{#each models as |model|}}
    {{#bundle-select-option tagName="tr" option=model bundle=bundle as |bundleOption|}}
      <td>
        <input type="checkbox"
          checked={{bundleOption.selected}}
          onclick={{action bundleOption.toggleAction}} />
      </td>

      <td>{{model.name}}</td>
      <td>{{model.level}}</td>
    {{/bundle-select-option}}
  {{/each}}
  </table>

{{/bundle-select-group}}
