{{#bundle-select-group as |group clearAllAction|}}
  <p>{{group.length}} avengers selected.</p>

  <p>
    {{!-- <button {{action selectAllAction}}>All</button> --}}
    <button {{action clearAllAction}}>None</button>
  </p>

  <ul>
  {{#each models as |model|}}
    <li>
      {{#bundle-select-option option=model tagName="label" group=group as |selected toggle|}}
        <input type="checkbox" checked={{selected}} onclick={{action toggle}} />
        <span>{{model.name}}</span>,
        <span>level {{model.level}}</span>
      {{/bundle-select-option}}
    </li>
  {{/each}}
  </ul>

  <p><button {{action "levelUp" group}}> Level Up! </button></p>
{{/bundle-select-group}}
